<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/help/login.css" />
</head>

<body>
	<div class="login-wrapper">
		<h2>Login</h2>
		<form method="post" action="서버의url" id="login-form">
			<input type="text" name="Email" placeholder="Email">
			<input type="password" name="Password" placeholder="Password">
			<label for="remember-check">
				<input type="checkbox" id="remember-check">
				<span class="checkbox-text">아이디 저장하기</span>
			</label>

			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>