<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/common-layout :: commonLayout(~{this::head},~{this::main} )}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/showlist/showlist01.css">
		<script>
			$(document).ready(function() {
			    $("#showright").click(function() {
			        var currentMarginLeft = parseInt($("#showslide").css("margin-left"), 10);
			        var newMarginLeft = currentMarginLeft - 600;
			
			        $("#showslide").animate({ marginLeft: newMarginLeft }, 500);
			    });
			
			    $("#showleft").click(function() {
			        var currentMarginLeft = parseInt($("#showslide").css("margin-left"), 10);
			        var newMarginLeft = currentMarginLeft + 600;
			
			        $("#showslide").animate({ marginLeft: newMarginLeft }, 500);
   				});
			});
		</script>
</head>
<body>
	<main>
		<div id="showlistmain mid column">
			<h2>보드게임</h2>
			<div id="showbox">
				<div class="mid">
					<div>인기추천</div>
					<div>베스트</div>
				</div>
				<div class="mid column">
					<div id="showwindow">
						<ul id="showslide">
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
							<li class="goods">
								<img src="/img/showlist/showlistimg.png" width="200px">
								<div>
									<p>[제조사명]</p>
									<p>[상품이름]</p>
									<p>[가격]</p>
								</div>
							</li>
						</ul>
					</div>
					<div id="allows">
						<div id="showleft"><img width="40px" src="/img/showlist/right_fillo.svg"> </div>
						<div id="showright"><img width="40px" src="/img/showlist/right_fillo.svg"> </div>
					</div>
				</div>
			</div>
			
			<div id="showlist02">
				<ul class="goodbox02">
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
					<li class="goods02">
						<img src="/img/showlist/showlistimg.png" width="200px">
						<div>
							<p>[제조사명]</p>
							<p>[상품이름]</p>
							<p>[가격]</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
</body>
</html>